.container{
    border: 1px solid rgb(155, 131, 131);
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding: auto;
    background-color: beige;
    border-radius: 10px;
}

#btnsub{
    height: 50px;
    width: 100px;
    font-size: 25px;
    margin-bottom: 3%;
    border-radius: 5px;
}